* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	resize: none;
    font-family: 'poppins', sans-serif;
    color: #444;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
    /* Tablet and desktop styles */
    .container {
        width: 70%; /* Adjusted width for tablets */
    }
}

@media screen and (min-width: 992px) {
    /* Desktop styles */
    .container {
        width: 50%; /* Adjusted width for larger desktop screens */
    }
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     background: rgb(2,0,36);
    background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 27%, rgba(255,149,0,1) 100%);

.container {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 450px;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.container p {
    margin-bottom: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

span input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #eee;
    border: none;
    outline: none;
    border-radius: 10px;
}

button {
    background-color: #000;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #000;
    cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: transparent;
  }
  .social-icons a {
	color: white;
	margin: 0 10px;
	font-size: 20px;
  }
